* {
  font-waight: 300;
}

@font-face {
  font-family: mplus-1p-regular;
  src:url(./font/mplus-1p-regular.ttf)  format("truetype");
}

.icons {
  margin-right: 10px;
}

.appBar {
  position: relative;
}

div {
  /* border: solid 0.5px; */
}

.header {
  text-align: center;
  font-family: Monaco, 'Courier New';
}

main {
  margin: 40px 20px;
}

.sub-content {
  padding: 5px;
  margin: 5px;
}

.content-title {
  font-family: Monaco, 'Courier New';
  font-size: 24px;
}

.sub-content-body {
  padding-left: 15px;
}

.skills {
  text-align: center;
  padding: 5px;
}

.skill-name {
  display: block;
  font-family: Monaco, 'Courier New';
  font-size: 14px
}

.skill-details {
  display: block;
  font-size: 12px
}

.cardGrid {
  margin: 40px 0;
}

footer {
  font-size: 12px;
  color: grey;
  text-align: center;
}
