body {
  margin: 0;
  padding: 0;
}

.body-animation {
  -webkit-animation-duration: 1s;
  animation-delay:1s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@font-face {
  font-family: mplus-1p-regular;
  src:url(/static/font/mplus-1p-regular.ttf)  format("truetype");
}

/* appBarのカーソルの点滅 */
@keyframes blink {
  50% { opacity: 0.0; }
}
@-webkit-keyframes blink {
  50% { opacity: 0.0; }
}
.blink {
  animation: blink 1s step-end infinite;
  -webkit-animation: blink 1s step-end infinite;
}

/* コンテンツのタイトルのアイコンと文字の間 */

.sub-content {
  padding: 5px;
  margin: 5px;
}

.content-title-icon {
  margin-right: 7px;
}

.content-title {
  font-family: Monaco, 'Courier New';
  font-size: 24px;
}

.bio-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.sub-content-body {
  margin: 13px;
  color: #263238;
  font-size: 13px;
}

.skills {
  text-align: center;
  padding: 7px;
}

.skill-name {
  display: block;
  font-family: Monaco, 'Courier New';
  font-size: 12px
}

.skill-details {
  display: block;
  font-size: 11px;
  margin-top: 5px;
}

.cardGrid {
  margin: 40px 0;
}

.card-content {
  width: 320px;
  margin: auto;
  margin-bottom: 30px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-chips {
  color: #fff;
  margin: 3px;
  font-size: 8px;
}

footer {
  font-size: 12px;
  color: grey;
  text-align: center;
  margin-top: 40px;
}

.iconizer-lg {
  border-radius: 25%;
  height: 48px;
}

.iconizer-sm {
  border-radius: 25%;
  height: 27px;
}

.skill-icon {
  height: 45.5px;
}

.ga-description {
  font-size: 10px;
}